@page
@model WebApplication2.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ErrorViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ErrorViewModel.RequestId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
