# DB Version: 10
# OS Type: linux
# DB Type: mixed
# Total Memory (RAM): 256 MB
# Number of Connections: 4

max_connections = 20
shared_buffers = 64MB
effective_cache_size = 192MB
work_mem = 8MB
maintenance_work_mem = 16MB
min_wal_size = 1GB
max_wal_size = 2GB
checkpoint_completion_target = 0.5
wal_buffers = 1966kB
default_statistics_target = 100